.DS_Store
config.json
testnet.json

/build/_workspace/
/build/bin/

.travis.yml
*.log
tls-proxy-client
tls-proxy-client.exe

tls-proxy-server
tls-proxy-server.exe

.idea

certs/*
client.json
server.json
